*{
    font-family: Arial;
}


/* aturan terakhir */
i{
    color: green;
}

i{
    color: red;
}


/* aturan spesifik */
b{
    color: pink;
}

p b{
    color: brown !important;
}

p b{
    color: blue;
}

p b{
    font-size: 150%;
}


/* studi kasus */
p{
    font-size: 100%;
}

p#pendahuluan{
    font-size: 75%;
}