/* color */

/* foreground color */

/* color name */

h1{
    color: darkcyan;
}

/* hex code */

h2{
    color: #6e1d3b;
}

/* rgb value */

p{
    color: rgb(121, 121, 69);
}

/* background color */

body{
    background-color: #efefef;
}

h1{
    background-color: darkkhaki;
}

h2{
    background-color: darkseagreen;
}

p{
    background-color: rgb(114, 222, 255);
}